@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: light --default;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.root {
    width: 100%;
    overflow-x: hidden;
}

.my-slide-out {
    animation: sliding-out 300s ease-in-out infinite;
    animation-delay: 0s;
    position: absolute;
    white-space: nowrap;
    transform: translateX(100%);
}

@keyframes sliding-out {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.img-holder {
    background-image: url("/public/images/hld.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    &.image-full {
        > figure img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
